.loginbox {
  width: 35%;
  height: 400px;
  margin: auto;
  border: 1px solid;
  text-align: center;
}
.formlog {
  width: 90%;
  height: 30px;
  margin: auto;
  border-radius: 5px;
}
.loginbtn {
  width: 35%;
  height: 30px;
  margin-top: 20px;
  border-radius: 10px;
}
.loginbtn:hover {
  cursor: pointer;
  background-color: blue;
  color: white;
}
